src/main/mule/ek-micorp-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">

 



	<flow name="ek-micorp-papi-main">
        <http:listener config-ref="ek-micorp-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[if (attributes.headers.'correlation-id' != null) &#10;  attributes.headers.'correlation-id'&#10;else &#10;  uuid()]" doc:name="var : correlationID" doc:id="63636b34-5fe8-443c-bf9e-358147faa767" variableName="correlationId "/>
		<apikit:router config-ref="ek-micorp-papi-config" />
		<error-handler ref="global-error-handler" />
    </flow>
	<flow name="get:\healthCheck:ek-micorp-papi-config" doc:id="04fcfce6-f80e-45ce-8891-a9a83fd6b093">
        <json-logger:logger doc:name="Start" doc:id="1896b264-308f-4250-a976-9871685250fc" message="#[vars.correlationId]" config-ref="JSON_Logger_Config"/>
		<flow-ref doc:name="get-health-check" doc:id="e6f7975c-1a74-4383-8f9d-58c8292e448c" name="get-health-check" />
		<json-logger:logger doc:name="End" doc:id="b961edf6-5b90-4869-aea3-8e6e8ee59ffc" config-ref="JSON_Logger_Config" message="vars.correlationId" tracePoint="END"/>
		<error-handler ref="global-error-handler" />
    </flow>
    <flow name="post:\orders:application\json:ek-micorp-papi-config">
        <json-logger:logger doc:name="Start" doc:id="4bee8346-4674-4196-8551-c5deb49c9316" config-ref="JSON_Logger_Config" message="#[vars.correlationId]"/>
		<flow-ref doc:name="create-order-salesforce-private-flow" doc:id="edfb5642-3d12-4b54-82a0-22ec44a8cfb1" name="create-order-salesforce-private-flow" />
		<json-logger:logger doc:name="End" doc:id="13da6a9d-ff17-4382-8c15-a1ac08a11b95" config-ref="JSON_Logger_Config" message="#[vars.correlationId]" tracePoint="END"/>
		<error-handler ref="global-error-handler" />
    </flow>
</mule>
